.classpath
project.properties
.project
.settings
bin/
gen/
.idea/
*.iml
out
tests
lint.xml
local.properties
ant.properties
.DS_Store
*.swp
app/build.log
app/build-log.xml
app/build
.gradle
signing.properties
*.patch
